body {
  margin: 0;
  /* font-family: "Playfair Display"; */
  font-family: "Playfair Display" !important;
  background-color: #f2f1f0 !important;
  /* font-style: normal !important;
  font-weight: 700 !important; */
}

hr {
  color: #2c2828;
  opacity: 1 !important;
  /* height: 10px !important; */
}

footer {
  background-color: #2c2828;
  color: #f2f1f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
